.cta-button[data-v-29a5ecbb] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center
}

.new-modal[data-v-29a5ecbb] {
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%
}

.new-modal-mask[data-v-29a5ecbb] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(55, 55, 55, .6);
    height: 100%;
    width: 100%
}

.new-modal-mask .new-modal-wrap[data-v-29a5ecbb] {
    width: 30%;
    height: 3.5rem;
    padding: 24px;
    background: #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
    border-radius: .15rem
}

.new-modal-mask .new-modal-wrap .new-modal-header[data-v-29a5ecbb] {
    font-family: Karla, sans-serif;
    font-size: .3rem;
    font-weight: 600;
    color: #292b30;
    text-align: left;
    margin: .2rem 5%
}

.new-modal-mask .new-modal-wrap .message_modal[data-v-29a5ecbb] {
    color: #6d6e72;
    font-size: .2rem;
    line-height: .3rem;
    padding: .5em 0 .25rem;
    margin: 0 5%
}

.new-modal-mask .new-modal-wrap .ap-button[data-v-29a5ecbb] {
    text-transform: uppercase;
    border-radius: 1rem;
    background: #0057e4;
    font-weight: 700;
    font-family: Karla, sans-serif;
    font-size: 16px;
    width: 90% !important;
    color: #fff;
    line-height: 16px;
    height: .6rem
}

.new-modal-mask .new-modal-wrap .non-primary[data-v-29a5ecbb],
.new-modal-mask .new-modal-wrap .non-primary[data-v-29a5ecbb]:focus {
    background: #fff !important;
    color: #0057e4 !important
}

.desktop .login-page .page-main .network-available {
    margin-bottom: 1.5rem
}

.desktop .login-page .privacy-message {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

.desktop .login-page .privacy-message p {
    font-family: Karla, sans-serif;
    width: 312px;
    height: 54px;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    -ms-flex-item-align: center;
    align-self: center;
    line-height: 18px
}

.login {
    margin-bottom: 20px;
    width: 100%;
    padding: 0 1rem;
    margin-top: .1rem
}

.login .mobile-input {
    background: transparent;
    color: #fff;
    padding: 0 !important;
    height: .5rem;
    font-size: .3rem
}

.underlined {
    border-bottom: 1px solid #fff
}

.area-code {
    margin-right: .5rem
}

.area-code:after {
    content: "";
    border-left: 1px solid #fff;
    margin-left: .3rem;
    height: .47rem;
    display: inline-block;
    position: absolute
}

.login-page {
    background-color: #007dff;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}

.login-page .ap-button-primary {
    background: #fff !important;
    color: #007dff !important
}

.login-page .privacy-message {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

.login-page .privacy-message p {
    font-family: Karla, sans-serif;
    width: 75%;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: .25rem;
    -ms-flex-item-align: center;
    align-self: center
}

.login-page .new-font-size {
    font-size: .25rem
}

.login-page .ap-flex-row {
    background: none;
    padding: 0
}

.login-page .ap-flex-row>div:first-of-type {
    padding-left: .08rem;
    padding-right: .08rem
}

.login-page .network-available {
    margin-top: .3rem;
    padding: 0 1rem;
    width: 100%
}

.login-page .submit-button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: .8rem;
    margin-top: 20%
}

.login-page .enter-mobile-number-label {
    padding: 0 1rem;
    width: 100%
}

.login-page .page-container header {
    margin-top: 15%
}

.login-page .page-container .default-font,
.login-page .page-container .page-item {
    color: #fff;
    font-family: Karla, sans-serif
}

.login-page .page-container .number-field {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: left;
    align-items: left
}

.login-page .page-container .number-field .ap-password-item {
    font-size: .3rem;
    color: #fff
}

.login-page .page-container .number-field .ap-password-item i {
    width: .14rem;
    height: .14rem;
    border-radius: .3rem;
    background: #fff
}

.login-page .page-container .number-field .ap-password-focus:focus~.ap--current i {
    background: transparent;
    width: .05px;
    height: .3rem;
    overflow: hidden;
    border-right: .15em solid;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: blink-caret 1s step-end infinite
}

.login-page .page-container .number-field .ap-digital-password {
    width: 1.9rem;
    height: .43rem
}

.login-page .page-container .number-field .ap-digital-password>div input {
    background-color: transparent;
    caret-color: transparent;
    border: 0
}

.footer-view {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center
}

.footer-view .seperator {
    color: #e5e5e5
}

.footer-view .consent {
    text-align: center
}

.footer-view .consent .link-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: .25rem
}

.footer-view .cancel-order-label {
    margin-bottom: 3vh;
    text-align: center
}

.footer-view .copyright {
    text-align: center;
    font-size: .25rem;
    color: rgba(0, 0, 0, .6) !important
}

.mobile .otp-page header {
    margin-top: 15%
}

.mobile .otp-page .registration-header {
    display: none
}

.mobile .otp-page .resend-container {
    margin-top: 5%
}

.mobile .otp-page .resend-container .default-font {
    font-weight: 700
}

.mobile .otp-page .digit-message {
    padding-bottom: 30px
}

.mobile .otp-page .main-content {
    margin-top: -50%
}

.desktop .otp-page header {
    margin-top: 0
}

.desktop .otp-page .registration-header {
    margin-bottom: .5rem
}

.otp-page {
    font-family: Karla, sans-serif;
    background: #fff
}

.otp-page .main-content {
    margin-top: -20%
}

.otp-page .otp-mobile-no {
    font-weight: 700
}

.otp-page .otp-instruction {
    margin-top: 1.2em
}

.otp-page .otp-image {
    width: 30%;
    height: auto
}

.otp-page .otp-image-container {
    padding-top: 20px
}

.otp-page .digit-message {
    padding-bottom: 25px
}

.otp-page .otp-text-container {
    padding-bottom: 100px
}

.otp-page .ap-button-count {
    padding-bottom: 10px;
    color: #58595b
}

.otp-page .submit-button {
    margin-bottom: .8rem
}

.otp-page .resend-container a {
    font-weight: 700
}

.otp-page .resend-container span:hover {
    cursor: pointer
}

.otp-page .ap-digital-password>div {
    -ms-flex-pack: center;
    justify-content: center
}

.otp-page .ap-digital-password input {
    background-color: transparent;
    caret-color: transparent
}

.otp-page .ap-digital-password .ap-password-item {
    -ms-flex: 0.1;
    flex: 0.1
}

.otp-page .ap-digital-password .ap-password-item i {
    height: .05rem;
    background: #000
}

.otp-page .ap-digital-password .ap-password-item span {
    color: #292b30;
    padding-bottom: 12px;
    font-family: Poppins, sans-serif;
    font-weight: 700
}

.otp-page .ap-digital-password .ap-password-focus:focus~.ap--current i {
    background: transparent;
    width: .01px;
    height: .42rem;
    overflow: hidden;
    border-right: .05em solid;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .05em;
    animation: blink-caret-dark-gray 1s step-end infinite
}

.mobile .submit-button {
    margin-top: .3rem;
    margin-bottom: 1rem
}

.desktop .submit-button {
    margin-top: .3rem;
    margin-bottom: .5rem
}

.registration {
    background: #fff;
    font-family: Karla, sans-serif
}

.registration .page-item {
    text-align: left
}

.registration .registration-steps {
    margin-top: 1rem;
    margin-bottom: .3rem;
    width: 25%
}

.registration .tittle-header {
    font-weight: 700;
    color: #292b30;
    font-family: Poppins, sans-serif
}

.registration header {
    padding: 0 5% 0 10%
}

.registration .description-header {
    color: #292b30;
    font-weight: lighter;
    font-size: 85%;
    margin-top: 1%
}

.registration .page-main {
    margin-top: .5rem
}

.registration label {
    margin-top: .2rem;
    font-size: 85%;
    color: #4b4d51
}

.registration .input-fields {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 85%;
    padding: 0 2.5%
}

.registration .input-fields>div {
    margin-top: .2rem
}

.registration .input-fields input:focus {
    outline: none
}

.registration .input-fields input {
    width: 100%;
    font-size: .3rem;
    color: #58595b;
    background-color: #fff;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: .1rem;
    margin-top: .1rem
}

.registration .middlename-example {
    margin-top: .1rem !important;
    font-size: 85%;
    color: #ccc
}

.registration .border-inline-error {
    border-color: red !important
}

.registration .inline-error {
    font-size: 85%;
    color: red !important
}

.registration .check-middlename {
    margin: .2rem 0 .1rem !important
}

.registration .check-box {
    margin-left: .1rem
}

.registration .check-box img {
    width: .4rem;
    height: .4rem
}

.registration .check-box .message {
    vertical-align: top;
    margin-left: .1rem
}

.confirm a {
    color: #007dff;
    font-weight: 700
}

.confirm .page-main {
    margin-top: 0
}

.confirm table {
    border-collapse: collapse;
    width: 80%;
    color: #58595b
}

.confirm table tr:nth-child(odd) td {
    padding-top: .3rem;
    font-size: 85%
}

.confirm table .label {
    width: 2.5rem
}

.confirm table .content {
    word-break: break-all
}

.confirm table tr:nth-child(2n) {
    border-bottom: 1px solid #bdbdbd
}

.confirm table tr:nth-child(2n) td {
    color: #4b4d51
}

.confirm table td {
    padding-bottom: .1rem;
    vertical-align: top;
    text-align: left
}

.confirm .edit {
    margin-top: .3rem
}

.mpin .registration-consent {
    font-size: 62%;
    text-align: center;
    color: #696b6d;
    margin-bottom: .5rem;
    font-weight: lighter;
    padding: 0 .5rem
}

.mpin a {
    color: #007dff
}

.mpin .description-header {
    margin-right: 5%
}

.mpin label {
    font-size: 70%;
    color: #4b4d51
}

.mpin .page-main {
    margin-top: .1rem
}

.desktop .success .store-link {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 1.5rem;
    margin-bottom: 1rem;
    padding: 0 1rem
}

.desktop .success .store-link div {
    width: 50%;
    height: 100%
}

.desktop .success .store-link div a {
    height: auto;
    width: auto
}

.desktop .success .store-link div img {
    height: 1rem
}

.desktop .success .qr {
    height: 3rem;
    margin: 3rem auto .5rem;
    display: block;
    margin-left: 1.7rem
}

.desktop .success .qr-exists {
    height: 4rem;
    margin: 2rem auto .5rem;
    display: block;
    margin-left: 2rem
}

.desktop .success .tittle-header {
    margin-top: .1rem;
    margin-bottom: .1rem
}

.desktop .success p {
    text-align: center
}

.mobile .success .tittle-header {
    margin-top: .2rem;
    margin-bottom: .2rem
}

.mobile .success .content {
    font-size: 90%
}

.mobile .icon {
    height: 3rem;
    content: url(/static/pc-card/images/gcash/gcash-cat-success.1788337.png);
    margin-left: -.5rem
}

.success {
    font-family: Karla, sans-serif;
    background: #fff
}

.success .page-main {
    margin-top: 0;
    padding-left: .8rem;
    padding-right: .8rem
}

.success .tittle-header {
    font-family: Poppins-SemiBold, sans-serif
}

.exists header {
    padding: 0
}

.exists a {
    color: #007dff
}

.terms {
    height: 100%;
    width: 100%
}

@media screen and (max-width:541px) {
    .mobile .terms iframe {
        height: 100%;
        width: 100%
    }
}

@media screen and (min-width:541px) {
    .mobile .terms iframe {
        height: 100%;
        width: 50%;
        zoom: 2;
        font-size: 3rem;
        transform: scale(2);
        transform-origin: 0 0
    }
}

.desktop .terms iframe {
    height: 100%;
    width: 100%
}

.error-page .error-icon {
    margin-bottom: .4rem
}

.error-page .page-main {
    padding-left: .4rem;
    padding-right: .4rem
}

.error-page a {
    color: #007dff
}

.error-page .copyright {
    text-align: center
}

.error-page header {
    padding: 0
}

.mobile .main-container {
    height: 100%;
    width: 100%
}

.desktop .root-app {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

.desktop .main-container {
    width: 450px;
    height: auto
}

.desktop .page-container {
    height: auto;
    max-height: 800px;
    min-height: 600px
}

.root-app {
    height: 100%;
    width: 100%
}

.header-bar {
    background: #111244;
    padding-left: .2rem;
    padding-top: .1rem;
    padding-bottom: .1rem
}

.header-title {
    color: #fff;
    font-size: .5rem;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px
}

.line {
    color: #8f8f92;
    border-top: .01rem groove hsla(0, 0%, 50%, .2)
}

.page-container {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: stretch;
    align-items: stretch
}

.page-item {
    text-align: center;
    font-size: .3rem;
    color: #58595b
}

.page-main {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.content-center,
.root-app {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center
}

footer {
    padding: 1vh
}

.page-main,
footer,
header {
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.registration-header {
    display: -ms-flexbox;
    display: flex;
    height: .77rem;
    -ms-flex-align: center;
    align-items: center;
    background-color: #111244;
    padding-left: .1rem
}

.registration-header img {
    height: auto;
    max-height: 40%;
    width: auto
}

.registration-header .label {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center
}

.registration-header .label .default-font {
    color: #fff;
    font-size: .4rem;
    font-weight: lighter;
    margin-left: .1rem
}

@font-face {
    font-family: FS-Elliot-Regular;
    src: url(/static/pc-card/css/gcash/fonts/FSElliotPro-Regular.224a4cb.otf);
    font-weight: 400;
    font-style: normal
}

.mobile body {
    height: 100vh;
    padding: 0;
    margin: 0
}

body {
    font-family: Karla, sans-serif
}

body a,
body a :link,
body a :visited {
    color: #fff
}

body a :active {
    color: #58595b
}

@media only screen and (min-device-width:768px) {
    body {
        font-size: 10vw !important
    }
}

body .cashier {
    background: #fff
}

body .default-font {
    color: #58595b;
    font-size: .3rem
}

body .text-irish-blue {
    color: #007dff
}

body .gcash-tittle {
    color: #111244;
    font-size: .6rem;
    font-weight: bolder
}

body .submit-button :hover {
    cursor: pointer
}

body .submit-button .ap-button-primary {
    background-color: #007dff
}

body .submit-button .ap-button {
    height: auto;
    width: 90%;
    padding: .2rem .8rem;
    border-radius: .5rem;
    color: #fff;
    font-size: .3rem;
    text-transform: uppercase;
    font-family: Karla, sans-serif;
    font-weight: 500
}

body .gcash-icon {
    height: 8em;
    content: url(/static/pc-card/images/gcash/GCash-new-logo.74ea4e9.png)
}

.ap-toast p {
    white-space: pre-wrap !important
}

.ap-toast>div {
    padding: .42rem .25rem;
    max-width: 75%
}

@keyframes blink-caret {
    0%,
    to {
        border-color: transparent
    }
    50% {
        border-color: #fff
    }
}

@keyframes blink-caret-dark-gray {
    0%,
    to {
        border-color: transparent
    }
    50% {
        border-color: #58595b
    }
}

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

progress {
    vertical-align: baseline
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: 700
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

*,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body,
html {
    height: 100%
}

body {
    background: #fafafa;
    color: #333;
    font: .32rem/1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.mask,
body.has-mask:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: transparent
}

body.has-mask:after {
    z-index: 10
}

main {
    position: relative;
    min-height: 100%;
    padding-bottom: 4rem
}

main:after,
main:before {
    display: table;
    content: " "
}

main:after {
    clear: both
}

a {
    color: #0f7efe;
    text-decoration: none;
    transition: color .35s;
    transform: translateZ(0)
}

a:active {
    color: #0159c0
}

::-webkit-input-placeholder {
    color: #bbb
}

::-moz-placeholder {
    color: #bbb
}

::-ms-input-placeholder {
    color: #bbb
}

::placeholder {
    color: #bbb
}

hr {
    border: 0;
    border-top: 1px solid #e0e0e0
}

input:-moz-ui-invalid {
    box-shadow: none
}

.board-anchor {
    padding-top: .2rem;
    padding-bottom: .2rem
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: " "
}

.clearfix:after {
    clear: both
}

.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.text-justify {
    text-align: justify
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .2s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

.alert-enter-active,
.alert-leave-active {
    transition: .3s;
    transition-property: opacity, transform
}

.alert-leave-to {
    opacity: 0
}

.alert-enter {
    opacity: 0;
    transform: scale(1.05)
}

.ap-rows-header {
    padding: .2rem .3rem;
    color: #888
}

.ap-rows-list {
    border-top: 1px solid #e0e0e0
}

.ap-flex-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background: #fff
}

.ap-flex-row>div {
    padding-top: .4rem;
    padding-bottom: .4rem
}

.ap-flex-row>div:first-of-type {
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding-left: .3rem;
    padding-right: .3rem;
    color: #9b9b9b
}

.ap-flex-row>div:nth-of-type(2) {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.ap-flex-row>div:last-child {
    padding-right: .3rem
}

.ap-flex-row>div[input] {
    padding-top: 0;
    padding-bottom: 0
}

.ap-flex-row:before {
    position: absolute;
    top: 0;
    left: .3rem;
    right: 0;
    border-top: 1px solid #e0e0e0;
    content: ""
}

.ap-flex-row:first-child:before {
    display: none
}

.ap-flex-row[arrow] {
    padding-right: .7rem
}

.ap-flex-row[arrow]:after {
    position: absolute;
    top: 50%;
    right: .3rem;
    margin-top: -.08rem;
    width: .16rem;
    height: .16rem;
    border: solid #9b9b9b;
    border-width: .04rem .04rem 0 0;
    transform: rotate(45deg);
    content: "";
    transition: transform .2s
}

.ap-flex-row[arrow]>div:last-child {
    padding-right: 0
}

.ap-flex-row[arrow]:active {
    background-color: #fafafa
}

.ap-flex-row[arrow=down]:after {
    margin-top: -.1rem;
    transform: rotate(135deg)
}

.ap-flex-row[arrow=up]:after {
    margin-top: -.02rem;
    transform: rotate(-45deg)
}

.ap-flex-row input:not([type=checkbox]) {
    width: 100%;
    border: 0;
    outline: none;
    padding-top: .4rem;
    padding-bottom: .4rem
}

.ap-flex-row .ap-has-checkbox {
    padding-top: 0;
    padding-bottom: 0
}

.ap-fade-enter-active,
.ap-fade-leave-active-active {
    transition: opacity .2s
}

.ap-alert-leave-active,
.ap-fade-enter,
.ap-fade-leave-active {
    opacity: 0
}

.ap-alert-enter-active,
.ap-alert-leave-active {
    transition: .2s;
    transition-property: opacity, transform
}

.ap-alert-enter {
    opacity: 0;
    transform: scale(1.1)
}

.ap-auto-complete .ap-clearable-input {
    margin: 0
}

.ap-auto-complete .ap-dropdown-container {
    position: relative
}

.ap-auto-complete .ap-dropdown {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    overflow: auto;
    max-height: 4rem;
    background: #fff;
    border: 1px solid #e0e0e0;
    z-index: 100
}

.ap-auto-complete .ap-dropdown-item:active {
    background-color: #fafafa
}

.ap-auto-complete .ap-dropdown-default {
    padding: .3rem .2rem
}

@keyframes icon-spin {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(1turn)
    }
}

.ap-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: middle
}

.ap-icon svg {
    display: block;
    width: 100%;
    height: 100%
}

.ap-icon.ap--spinning {
    animation: icon-spin steps(12) infinite 1.2s
}

.ap-scroll-list-error,
.ap-scroll-list-nomore {
    text-align: center;
    padding: .5rem;
    color: #bbb
}

.ap-scroll-list-error {
    padding: 1rem .5rem
}

.ap-clearable-input {
    display: -ms-flexbox;
    display: flex
}

.ap-clearable-input>input {
    width: 100%;
    border: 0;
    outline: none
}

.ap-clearable-input .ap-clear-button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ccc
}

.ap-clearable-input .ap-clear-button.ap--hidden {
    visibility: hidden
}

.ap-digital-password {
    display: block;
    position: relative;
    height: .76rem;
    overflow: hidden
}

.ap-digital-password>div {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    height: 100%
}

.ap-password-focus {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    background: none;
    outline: none;
    padding: 0;
    text-align: center;
    pointer-events: none;
    border: 0;
    box-shadow: none;
    transition: none;
    z-index: 1
}

.ap-password-focus:focus {
    background: #fff
}

.ap-password-item {
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    position: relative;
    font-size: .64rem
}

.ap-password-item i,
.ap-password-item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.ap-password-item i {
    width: .44rem;
    height: .02rem;
    background: #8f8f92
}

.ap-password-item i.ap-dot {
    width: .32rem;
    height: .32rem;
    border-radius: 50%;
    background: currentColor
}

.ap-input-end {
    text-align: right !important;
    padding-right: .06rem
}

.ap-input-end:focus {
    background: transparent
}

.ap-modal {
    z-index: 4;
    width: 100%
}

.ap-modal,
.ap-modal-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%
}

.ap-modal-mask {
    background-color: rgba(55, 55, 55, .6)
}

.ap-modal-wrap {
    position: absolute;
    top: 38%;
    left: 50%;
    margin-left: -2.7rem;
    z-index: 5;
    width: 5.4rem;
    border-radius: .14rem;
    background-color: #f1f1f1;
    transform: translateZ(1px)
}

.ap-modal-content {
    padding: .4rem .34rem;
    text-align: center;
    font-size: .3rem;
    line-height: .4rem
}

.ap-modal-header {
    font-size: .34rem;
    font-weight: 700;
    padding-bottom: .2rem;
    color: #383838
}

.ap-modal-button {
    display: -ms-flexbox;
    display: flex
}

.ap-modal-button>a {
    -ms-flex: 1;
    flex: 1;
    display: block;
    border: 0;
    outline: none;
    border-top: 1px solid #e3e3e3;
    padding: .18rem 0;
    color: #0f7efe;
    font-size: .32rem;
    background-color: transparent;
    text-align: center
}

.ap-modal-button>a:nth-of-type(2) {
    border-left: 1px solid #e0e0e0
}

.ap-button {
    display: block;
    width: 100%;
    height: .8rem;
    margin: 0 auto;
    border: 0;
    border-radius: .1rem;
    outline: none;
    font-size: .3rem;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ap-button .ap-icon-spin {
    font-size: .4rem;
    display: block;
    margin: 0 auto
}

:disabled {
    opacity: .4 !important
}

.ap-button-primary {
    background: #0f7efe;
    color: #fff
}

.ap-button-primary:active {
    background: #0176fd;
    color: #fff
}

.ap-button-default {
    background: transparent;
    color: #0f7efe;
    text-transform: uppercase;
    border: .02rem solid #0f7efe;
    line-height: 0
}

.ap-button-default:active {
    background: #0176fd;
    color: #fff
}

.ap-has-button {
    padding-bottom: 1.6rem;
    position: relative;
    min-height: 100%
}

.ap-button-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .3rem;
    text-align: center
}

.ap-button-container .ap-button+.ap-button {
    margin-top: .2rem
}

.ap-button-container .ap-button-ghost {
    margin-top: .3rem;
    background: #fff;
    color: #0f7efe;
    border: .02rem solid #0f7efe
}

.ap-button-container.ap--follow {
    position: static;
    margin-top: .3rem
}

.ap-button-container.ap--fix {
    position: fixed;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .01) 0, #fff 25%, #fff)
}

.ap-button-container>a {
    display: inline-block;
    margin: .3rem 0
}

.ap-button-container p {
    color: #777;
    margin-bottom: .3rem
}

.ap-thumb {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%
}

.ap-thumb.ap--no-default {
    background-image: none
}

.ap-thumb>div {
    padding-top: 100%;
    background-size: cover;
    background-position: 50%
}

.ap-collapse {
    border-bottom: 1px solid #e0e0e0
}

.ap-collapse:not(.ap--open) .ap-collapse-body {
    display: none
}

.ap-pull-down-container {
    min-height: 6rem
}

.ap-pull-down-header {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: .42rem
}

.ap-pull-down-footer {
    text-align: center;
    padding: .5rem 0;
    font-size: .42rem
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

.ap-switcher {
    box-sizing: content-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 1rem;
    height: .6rem;
    border-radius: .6rem;
    margin: 0;
    outline: none;
    background: #e3e3e3;
    transition: .3s;
    transition-property: border-color, background;
    border: 0 solid #e3e3e3
}

.ap-switcher:after,
.ap-switcher:before {
    content: "";
    position: absolute;
    border-radius: .6rem
}

.ap-switcher:before {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: .3s;
    transition-property: left, transform;
    background-color: rgba(65, 170, 239, .3);
    transform: scale(1)
}

.ap-switcher:after {
    width: .52rem;
    height: .52rem;
    left: .04rem;
    top: .04rem;
    transform: translateZ(0);
    transition: transform .3s cubic-bezier(.32, .86, .62, 1.14);
    background: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084)
}

.ap-switcher:checked {
    border-color: #41aaef;
    background: #41aaef
}

.ap-switcher:checked:before {
    left: .5rem;
    transform: scale(0)
}

.ap-switcher:checked:after {
    transform: translate3d(.4rem, 0, 0)
}

.ap-toast {
    position: fixed;
    width: 100%;
    top: 38%;
    top: 38vh;
    left: 0;
    right: 0;
    z-index: 3;
    text-align: center;
    transform: translateY(-50%)
}

.ap-toast>div {
    display: inline-block;
    min-width: 2.5rem;
    max-width: 70%;
    padding: .42rem .4rem;
    border-radius: .1rem;
    background: rgba(58, 58, 58, .9);
    color: #fff;
    font-size: .26rem
}

.ap-toast p {
    line-height: 1.3;
    margin: 0
}

.ap-toast .ap-icon {
    font-size: .72rem
}

.ap-toast .ap-icon-spin {
    width: .8rem;
    height: .8rem
}

.ap-toast .ap-icon+p {
    padding-top: .2rem
}

.ap-toast .ap-spin+p {
    padding-top: .1rem
}

.ap-toast-spin-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent
}

.ap-tabs {
    background: #fafafa
}

.ap-tabs ul {
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0
}

.ap-tabs li {
    line-height: .88rem;
    color: #a4aab3;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    font-size: 0;
    border-bottom: 2px solid #fafafa;
    width: 50%
}

.ap-tabs li.ap--active {
    color: #0f7efe;
    border-bottom: 2px solid #0f7efe
}

.ap-tabs li span {
    display: inline-block;
    font-size: .34rem;
    vertical-align: middle
}