commsec-news-feed,
commsec-contact-form,
commsec-header,
commsec-footer,
commsec-survey,
notification-bar,
brightcode-video,
newsfeed-filter,
commsec-faq,
commsec-performance,
document-attachment,
related-articles,
search-bar,
preference-item,
video-player {
    visibility: hidden;
}

.hydrated {
    visibility: inherit;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@font-face {
    font-family: Beacon-Bold;
    src: url("/static/personal-cabinet/images/au/commonwealth/CBABeaconSans-Bold.1d397fed9bd35ac82439.ttf") format("truetype");
}

@font-face {
    font-family: Beacon-Regular;
    src: url("/static/personal-cabinet/images/au/commonwealth/CBABeaconSans-Regular.a8c2493aea41091a03f9.ttf") format("truetype");
}

.go1475592160 {
    height: 0px;
}

.go1671063245 {
    height: auto;
}

.go1888806478 {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

@media (min-width: 600px) {
    .go1888806478 {
        flex-grow: initial;
        min-width: 288px;
    }
}

.go167266335 {
    background-color: rgb(49, 49, 49);
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: rgb(255, 255, 255);
    align-items: center;
    padding: 6px 16px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}

.go3162094071 {
    padding-left: 20px;
}

.go3844575157 {
    background-color: rgb(49, 49, 49);
}

.go1725278324 {
    background-color: rgb(67, 160, 71);
}

.go3651055292 {
    background-color: rgb(211, 47, 47);
}

.go4215275574 {
    background-color: rgb(255, 152, 0);
}

.go1930647212 {
    background-color: rgb(33, 150, 243);
}

.go946087465 {
    display: flex;
    align-items: center;
    padding: 8px 0px;
}

.go703367398 {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 16px;
    margin-right: -8px;
}

.go3963613292 {
    width: 100%;
    position: relative;
    transform: translateX(0px);
    inset: 0px;
    min-width: 288px;
}

.go1141946668 {
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    position: fixed;
    z-index: 1400;
    height: auto;
    width: auto;
    transition: top 300ms, right 300ms, bottom 300ms, left 300ms, max-width 300ms;
    pointer-events: none;
    max-width: calc(100% - 40px);
}

.go1141946668 .notistack-CollapseWrapper {
    padding: 6px 0px;
    transition: padding 300ms;
}

@media (max-width: 599.95px) {
    .go1141946668 {
        width: 100%;
        max-width: calc(100% - 32px);
    }
}

.go3868796639 .notistack-CollapseWrapper {
    padding: 2px 0px;
}

.go3118922589 {
    top: 14px;
    flex-direction: column;
}

.go1453831412 {
    bottom: 14px;
    flex-direction: column-reverse;
}

.go4027089540 {
    left: 20px;
}

@media (min-width: 600px) {
    .go4027089540 {
        align-items: flex-start;
    }
}

@media (max-width: 599.95px) {
    .go4027089540 {
        left: 16px;
    }
}

.go2989568495 {
    right: 20px;
}

@media (min-width: 600px) {
    .go2989568495 {
        align-items: flex-end;
    }
}

@media (max-width: 599.95px) {
    .go2989568495 {
        right: 16px;
    }
}

.go4034260886 {
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 600px) {
    .go4034260886 {
        align-items: center;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    text-size-adjust: 100%;
}

*,
::before,
::after {
    box-sizing: inherit;
}

strong,
b {
    font-weight: 700;
}

body {
    margin: 0px;
    color: rgba(0, 0, 0, 0.87);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    background-color: rgb(241, 241, 241);
}

@media print {
    body {
        background-color: rgb(255, 255, 255);
    }
}

body::backdrop {
    background-color: rgb(241, 241, 241);
}

@-webkit-keyframes mui-auto-fill {
    0% {
        display: block;
    }
}

@keyframes mui-auto-fill {
    0% {
        display: block;
    }
}

@-webkit-keyframes mui-auto-fill-cancel {
    0% {
        display: block;
    }
}

@keyframes mui-auto-fill-cancel {
    0% {
        display: block;
    }
}

@-webkit-keyframes mui-auto-fill {
    0% {
        display: block;
    }
}

@keyframes mui-auto-fill {
    0% {
        display: block;
    }
}

@-webkit-keyframes mui-auto-fill-cancel {
    0% {
        display: block;
    }
}

@keyframes mui-auto-fill-cancel {
    0% {
        display: block;
    }
}

.css-1myt6vk {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-image: url("/static/personal-cabinet/images/au/commonwealth/fill-light.b8ac53fb63c18db9f29808f2e3547b9a.svg"), url("/static/personal-cabinet/images/au/commonwealth/stroke.03914ee31ec552f141b9c3f66d40f3d1.svg");
    background-size: 40%, 20%;
    background-position: -33.3% 70%, calc(112.5%) 20%;
    background-repeat: no-repeat;
    background-color: transparent;
}

.css-mdbg56 {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

@media (min-width: 600px) {
    .css-mdbg56 {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1200px) {
    .css-mdbg56 {
        max-width: 1200px;
    }
}

.css-h79izo {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 465px;
    height: 100%;
}

.css-h79izo> :not(style):not(style) {
    margin: 0px;
}

.css-h79izo> :not(style)~ :not(style) {
    margin-top: 16px;
}

.css-j32dwi {
    width: 100%;
    min-height: 600px;
    overflow: hidden;
}

.css-16iypnn {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 5px 8px 0px, rgba(0, 0, 0, 0.12) 0px 1px 14px 0px;
    width: 100%;
    min-height: 600px;
    overflow: hidden;
}

.css-kl5oqq {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    height: 140px;
    padding: 16px;
}

.css-1fss50y {
    display: grid;
}

.css-1fss50y .item {
    grid-area: 1 / 1 / 2 / 2;
}

.css-1fss50y .item:not(:only-child).-enter-active,
.css-1fss50y .item:not(:only-child).-exit-active {
    transition: transform 400ms;
}

.css-1fss50y.slide {
    overflow: hidden;
}

.css-1fss50y.slide .back-enter {
    transform: translateX(-100%);
}

.css-1fss50y.slide .back-enter-active {
    transform: translateX(0px);
}

.css-1fss50y.slide .back-exit {
    transform: translateX(0px);
}

.css-1fss50y.slide .back-exit-active {
    transform: translateX(100%);
}

.css-1fss50y.slide .forward-enter {
    transform: translateX(100%);
}

.css-1fss50y.slide .forward-enter-active {
    transform: translateX(0px);
}

.css-1fss50y.slide .forward-exit {
    transform: translateX(0px);
}

.css-1fss50y.slide .forward-exit-active {
    transform: translateX(-100%);
}

.css-1fss50y.vertical-slide {
    overflow: hidden;
}

.css-1fss50y.vertical-slide .back-enter {
    transform: translateY(-100%);
}

.css-1fss50y.vertical-slide .back-enter-active {
    transform: translateY(0px);
}

.css-1fss50y.vertical-slide .back-exit {
    transform: translateY(0px);
}

.css-1fss50y.vertical-slide .back-exit-active {
    transform: translateY(100%);
}

.css-1fss50y.vertical-slide .forward-enter {
    transform: translateY(100%);
}

.css-1fss50y.vertical-slide .forward-enter-active {
    transform: translateY(0px);
}

.css-1fss50y.vertical-slide .forward-exit {
    transform: translateY(0px);
}

.css-1fss50y.vertical-slide .forward-exit-active {
    transform: translateY(-100%);
}

.css-1fss50y.rotate {
    perspective: 2000px;
}

.css-1fss50y.rotate .item {
    backface-visibility: hidden;
}

.css-1fss50y.rotate .back-enter {
    transform: rotateY(-180deg);
}

.css-1fss50y.rotate .back-enter-active {
    transform: rotateY(0deg);
}

.css-1fss50y.rotate .back-exit {
    transform: rotateY(0deg);
}

.css-1fss50y.rotate .back-exit-active {
    transform: rotateY(180deg);
}

.css-1fss50y.rotate .forward-enter {
    transform: rotateY(180deg);
}

.css-1fss50y.rotate .forward-enter-active {
    transform: rotateY(0deg);
}

.css-1fss50y.rotate .forward-exit {
    transform: rotateY(0deg);
}

.css-1fss50y.rotate .forward-exit-active {
    transform: rotateY(-180deg);
}

.css-qgvt38 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-wvsuxt {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
    position: relative;
}

.css-1sb9fsf {
    display: flex;
    flex-direction: column;
}

.css-1sb9fsf> :not(style):not(style) {
    margin: 0px;
}

.css-1sb9fsf> :not(style)~ :not(style) {
    margin-top: 40px;
}

.css-1ov46kg {
    display: flex;
    flex-direction: column;
}

.css-1ov46kg> :not(style):not(style) {
    margin: 0px;
}

.css-1ov46kg> :not(style)~ :not(style) {
    margin-top: 16px;
}

.css-csffzd {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.css-csffzd> :not(style):not(style) {
    margin: 0px;
}

.css-csffzd> :not(style)~ :not(style) {
    margin-left: 8px;
}

.css-6trpz6 {
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.167;
    letter-spacing: -0.01562em;
    font-weight: 700;
    font-size: 18px;
}

.css-i44wyl {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
}

.css-nd1nwr {
    display: block;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 24px);
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(14px, 16px) scale(1);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1), transform 200ms cubic-bezier(0, 0, 0.2, 1), max-width 200ms cubic-bezier(0, 0, 0.2, 1);
    z-index: 1;
    pointer-events: none;
}

.css-1b2o931 {
    color: rgba(0, 0, 0, 0.6);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    padding: 0px;
    display: block;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 24px);
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(14px, 16px) scale(1);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1), transform 200ms cubic-bezier(0, 0, 0.2, 1), max-width 200ms cubic-bezier(0, 0, 0.2, 1);
    z-index: 1;
    pointer-events: none;
}

.css-1b2o931.Mui-focused {
    color: rgb(25, 118, 210);
}

.css-1b2o931.Mui-disabled {
    color: rgba(0, 0, 0, 0.38);
}

.css-1b2o931.Mui-error {
    color: rgb(211, 47, 47);
}

.css-ond3nx {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    position: relative;
    border-radius: 4px;
}

.css-ond3nx.Mui-disabled {
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

.css-ond3nx:has(> input:-webkit-autofill) {
    background-color: rgb(232, 240, 254);
    box-shadow: rgb(232, 240, 254) 0px 0px 0px 100px inset;
    -webkit-text-fill-color: rgb(0, 0, 0);
}

.css-ond3nx:hover .MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.87);
}

@media (hover: none) {
    .css-ond3nx:hover .MuiOutlinedInput-notchedOutline {
        border-color: rgba(0, 0, 0, 0.23);
    }
}

.css-ond3nx.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: rgb(25, 118, 210);
    border-width: 2px;
}

.css-ond3nx.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: rgb(211, 47, 47);
}

.css-ond3nx.Mui-disabled .MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.26);
}

.css-13ny0hi {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 16.5px 14px;
}

.css-13ny0hi::-webkit-input-placeholder {
    color: currentcolor;
    opacity: 0.42;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.css-13ny0hi:focus {
    outline: 0px;
}

.css-13ny0hi:invalid {
    box-shadow: none;
}

.css-13ny0hi::-webkit-search-decoration {
    appearance: none;
}

label[data-shrink="false"]+.MuiInputBase-formControl .css-13ny0hi::-webkit-input-placeholder {
    opacity: 0 !important;
}

label[data-shrink="false"]+.MuiInputBase-formControl .css-13ny0hi:focus::-webkit-input-placeholder {
    opacity: 0.42;
}

.css-13ny0hi.Mui-disabled {
    opacity: 1;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.38);
}

.css-13ny0hi:-webkit-autofill {
    animation-duration: 5000s;
    animation-name: mui-auto-fill;
}

.css-13ny0hi:-webkit-autofill {
    border-radius: inherit;
}

.css-19w1uun {
    border-color: rgba(0, 0, 0, 0.23);
}

.css-igs3ac {
    text-align: left;
    position: absolute;
    inset: -5px 0px 0px;
    margin: 0px;
    padding: 0px 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: rgba(0, 0, 0, 0.23);
}

.css-yjsfm1 {
    float: unset;
    width: auto;
    overflow: hidden;
    display: block;
    padding: 0px;
    height: 11px;
    font-size: 0.75em;
    visibility: hidden;
    max-width: 0.01px;
    transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1);
    white-space: nowrap;
}

.css-yjsfm1>span {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    opacity: 0;
    visibility: visible;
}

.css-2men4k {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    position: relative;
    border-radius: 4px;
    padding-right: 14px;
}

.css-2men4k.Mui-disabled {
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

.css-2men4k:has(> input:-webkit-autofill) {
    background-color: rgb(232, 240, 254);
    box-shadow: rgb(232, 240, 254) 0px 0px 0px 100px inset;
    -webkit-text-fill-color: rgb(0, 0, 0);
}

.css-2men4k:hover .MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.87);
}

@media (hover: none) {
    .css-2men4k:hover .MuiOutlinedInput-notchedOutline {
        border-color: rgba(0, 0, 0, 0.23);
    }
}

.css-2men4k.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: rgb(25, 118, 210);
    border-width: 2px;
}

.css-2men4k.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: rgb(211, 47, 47);
}

.css-2men4k.Mui-disabled .MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.26);
}

.css-w1jawv {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 16.5px 0px 16.5px 14px;
}

.css-w1jawv::-webkit-input-placeholder {
    color: currentcolor;
    opacity: 0.42;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.css-w1jawv:focus {
    outline: 0px;
}

.css-w1jawv:invalid {
    box-shadow: none;
}

.css-w1jawv::-webkit-search-decoration {
    appearance: none;
}

label[data-shrink="false"]+.MuiInputBase-formControl .css-w1jawv::-webkit-input-placeholder {
    opacity: 0 !important;
}

label[data-shrink="false"]+.MuiInputBase-formControl .css-w1jawv:focus::-webkit-input-placeholder {
    opacity: 0.42;
}

.css-w1jawv.Mui-disabled {
    opacity: 1;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.38);
}

.css-w1jawv:-webkit-autofill {
    animation-duration: 5000s;
    animation-name: mui-auto-fill;
}

.css-w1jawv:-webkit-autofill {
    border-radius: inherit;
}

.css-1nvf7g0 {
    display: flex;
    height: 0.01em;
    max-height: 2em;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.54);
    margin-left: 8px;
}

.css-1pkjnlx {
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: -12px;
    text-decoration: underline dotted rgb(0, 110, 190);
    text-underline-offset: 0.4em;
}

.css-1pkjnlx:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

@media (hover: none) {
    .css-1pkjnlx:hover {
        background-color: transparent;
    }
}

.css-1pkjnlx.Mui-disabled {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.26);
}

.css-waazvk {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px -12px 0px 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: underline dotted rgb(0, 110, 190);
    text-underline-offset: 0.4em;
}

.css-waazvk.Mui-disabled {
    pointer-events: none;
    cursor: default;
}

@media print {
    .css-waazvk {
        -webkit-print-color-adjust: exact;
    }
}

.css-waazvk:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

@media (hover: none) {
    .css-waazvk:hover {
        background-color: transparent;
    }
}

.css-waazvk.Mui-disabled {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.26);
}

.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 1.5rem;
}

.css-s9ggwg {
    z-index: 1500;
    pointer-events: none;
}

.css-s9ggwg[data-popper-placement*="bottom"] .MuiTooltip-arrow {
    top: 0px;
    margin-top: -0.71em;
}

.css-s9ggwg[data-popper-placement*="bottom"] .MuiTooltip-arrow::before {
    transform-origin: 0px 100%;
}

.css-s9ggwg[data-popper-placement*="top"] .MuiTooltip-arrow {
    bottom: 0px;
    margin-bottom: -0.71em;
}

.css-s9ggwg[data-popper-placement*="top"] .MuiTooltip-arrow::before {
    transform-origin: 100% 0px;
}

.css-s9ggwg[data-popper-placement*="right"] .MuiTooltip-arrow {
    left: 0px;
    margin-left: -0.71em;
    height: 1em;
    width: 0.71em;
}

.css-s9ggwg[data-popper-placement*="right"] .MuiTooltip-arrow::before {
    transform-origin: 100% 100%;
}

.css-s9ggwg[data-popper-placement*="left"] .MuiTooltip-arrow {
    right: 0px;
    margin-right: -0.71em;
    height: 1em;
    width: 0.71em;
}

.css-s9ggwg[data-popper-placement*="left"] .MuiTooltip-arrow::before {
    transform-origin: 0px 0px;
}

.css-1dkatbo {
    z-index: 1500;
    pointer-events: none;
}

.css-1dkatbo[data-popper-placement*="bottom"] .MuiTooltip-arrow {
    top: 0px;
    margin-top: -0.71em;
}

.css-1dkatbo[data-popper-placement*="bottom"] .MuiTooltip-arrow::before {
    transform-origin: 0px 100%;
}

.css-1dkatbo[data-popper-placement*="top"] .MuiTooltip-arrow {
    bottom: 0px;
    margin-bottom: -0.71em;
}

.css-1dkatbo[data-popper-placement*="top"] .MuiTooltip-arrow::before {
    transform-origin: 100% 0px;
}

.css-1dkatbo[data-popper-placement*="right"] .MuiTooltip-arrow {
    left: 0px;
    margin-left: -0.71em;
    height: 1em;
    width: 0.71em;
}

.css-1dkatbo[data-popper-placement*="right"] .MuiTooltip-arrow::before {
    transform-origin: 100% 100%;
}

.css-1dkatbo[data-popper-placement*="left"] .MuiTooltip-arrow {
    right: 0px;
    margin-right: -0.71em;
    height: 1em;
    width: 0.71em;
}

.css-1dkatbo[data-popper-placement*="left"] .MuiTooltip-arrow::before {
    transform-origin: 0px 0px;
}

.css-jlfeyb {
    display: flex;
    flex-direction: row-reverse;
}

.css-jlfeyb> :not(style):not(style) {
    margin: 0px;
}

.css-jlfeyb> :not(style)~ :not(style) {
    margin-right: 16px;
}

.css-rhbfw5 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: none;
    padding: 8px 22px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgb(42, 42, 42);
    box-shadow: none;
    background-color: rgb(255, 204, 0);
    min-width: auto;
    width: 100%;
}

.css-rhbfw5:hover {
    text-decoration: none;
    background-color: rgb(255, 189, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

@media (hover: none) {
    .css-rhbfw5:hover {
        background-color: rgb(25, 118, 210);
    }
}

.css-rhbfw5:active {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}

.css-rhbfw5.Mui-focusVisible {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}

.css-rhbfw5.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
}

.css-rhbfw5:hover {
    box-shadow: none;
}

.css-rhbfw5.Mui-focusVisible {
    box-shadow: none;
}

.css-rhbfw5:active {
    box-shadow: none;
}

.css-rhbfw5.Mui-disabled {
    box-shadow: none;
}

.css-mckfgv {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: none;
    padding: 8px 22px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgb(42, 42, 42);
    box-shadow: none;
    background-color: rgb(255, 204, 0);
    min-width: auto;
    width: 100%;
}

.css-mckfgv.Mui-disabled {
    pointer-events: none;
    cursor: default;
}

@media print {
    .css-mckfgv {
        -webkit-print-color-adjust: exact;
    }
}

.css-mckfgv:hover {
    text-decoration: none;
    background-color: rgb(255, 189, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

@media (hover: none) {
    .css-mckfgv:hover {
        background-color: rgb(25, 118, 210);
    }
}

.css-mckfgv:active {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}

.css-mckfgv.Mui-focusVisible {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}

.css-mckfgv.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
}

.css-mckfgv:hover {
    box-shadow: none;
}

.css-mckfgv.Mui-focusVisible {
    box-shadow: none;
}

.css-mckfgv:active {
    box-shadow: none;
}

.css-mckfgv.Mui-disabled {
    box-shadow: none;
}

.css-lf88ra {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    inset: 0px;
    -webkit-tap-highlight-color: transparent;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    margin: 0px !important;
}

.css-z01bqi {
    display: inline-block;
    color: rgb(25, 118, 210);
    animation: 1.4s linear 0s infinite normal none running animation-61bdi0;
}

@-webkit-keyframes animation-61bdi0 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animation-61bdi0 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.css-13o7eu2 {
    display: block;
}

.css-14891ef {
    stroke: currentcolor;
    stroke-dasharray: 80px, 200px;
    stroke-dashoffset: 0;
    animation: 1.4s ease-in-out 0s infinite normal none running animation-1p2h4ri;
}

@-webkit-keyframes animation-1p2h4ri {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -15px;
    }

    100% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -125px;
    }
}

@keyframes animation-1p2h4ri {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -15px;
    }

    100% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -125px;
    }
}

.css-1xhj18k {
    display: flex;
    flex-direction: row;
}

.css-1aiqwna {
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

.css-1r9n54z {
    text-decoration: none;
    color: rgb(0, 110, 190);
}

.css-1r9n54z:hover {
    text-decoration: underline;
}

.css-1lijyc4 {
    margin: 0px;
    font: inherit;
    text-decoration: none;
    color: rgb(0, 110, 190);
}

.css-1lijyc4:hover {
    text-decoration: underline;
}

.css-trfuzi {
    border: 0px solid;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -8px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.css-iojvun {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
}

.css-1oprhov {
    margin: 0px;
    flex-shrink: 0;
    display: flex;
    white-space: nowrap;
    text-align: center;
    border: 0px;
}

.css-1oprhov::before,
.css-1oprhov::after {
    content: "";
    align-self: center;
}

.css-1oprhov::before,
.css-1oprhov::after {
    width: 100%;
    border-top: thin solid rgba(0, 0, 0, 0.12);
}

.css-c1ovea {
    display: inline-block;
    padding-left: calc(9.6px);
    padding-right: calc(9.6px);
}

.css-1ke3o9t {
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: rgb(158, 158, 158);
}

.css-132d980 {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
}

.css-4l1thn {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: none;
    padding: 7px 21px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    width: 100%;
    box-shadow: none;
    min-width: auto;
    border-radius: 20px;
}

.css-4l1thn:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgb(0, 0, 0);
}

@media (hover: none) {
    .css-4l1thn:hover {
        background-color: transparent;
    }
}

.css-4l1thn.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.css-4l1thn:hover {
    box-shadow: none;
}

.css-4l1thn.Mui-focusVisible {
    box-shadow: none;
}

.css-4l1thn:active {
    box-shadow: none;
}

.css-4l1thn.Mui-disabled {
    box-shadow: none;
}

.css-5c5ht5 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: none;
    padding: 7px 21px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    width: 100%;
    box-shadow: none;
    min-width: auto;
    border-radius: 20px;
}

.css-5c5ht5.Mui-disabled {
    pointer-events: none;
    cursor: default;
}

@media print {
    .css-5c5ht5 {
        -webkit-print-color-adjust: exact;
    }
}

.css-5c5ht5:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgb(0, 0, 0);
}

@media (hover: none) {
    .css-5c5ht5:hover {
        background-color: transparent;
    }
}

.css-5c5ht5.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.css-5c5ht5:hover {
    box-shadow: none;
}

.css-5c5ht5.Mui-focusVisible {
    box-shadow: none;
}

.css-5c5ht5:active {
    box-shadow: none;
}

.css-5c5ht5.Mui-disabled {
    box-shadow: none;
}

.css-1wkmudh {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.css-1rdjw7c {
    margin: 48px;
    justify-self: center;
    width: 95%;
    text-align: center;
}

.css-n44eoe {
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}

.css-jq8kbr {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 8px;
}

.css-jq8kbr> :not(style):not(style) {
    margin: 0px;
}

.css-jq8kbr> :not(style)~ :not(style) {
    margin-left: 12px;
}

.css-b5l0g8 {
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-decoration: none;
    color: rgb(0, 110, 190);
}

.css-b5l0g8:hover {
    text-decoration: underline;
}

.css-1cw4hi4 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: inherit;
}

.css-1jeas20 {
    display: block;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(133% - 32px);
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(14px, -9px) scale(0.75);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1), transform 200ms cubic-bezier(0, 0, 0.2, 1), max-width 200ms cubic-bezier(0, 0, 0.2, 1);
    z-index: 1;
    pointer-events: auto;
    user-select: none;
}

.css-rplsiv {
    color: rgba(0, 0, 0, 0.6);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    padding: 0px;
    display: block;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(133% - 32px);
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(14px, -9px) scale(0.75);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1), transform 200ms cubic-bezier(0, 0, 0.2, 1), max-width 200ms cubic-bezier(0, 0, 0.2, 1);
    z-index: 1;
    pointer-events: auto;
    user-select: none;
}

.css-rplsiv.Mui-focused {
    color: rgb(25, 118, 210);
}

.css-rplsiv.Mui-disabled {
    color: rgba(0, 0, 0, 0.38);
}

.css-rplsiv.Mui-error {
    color: rgb(211, 47, 47);
}

.css-14lo706 {
    float: unset;
    width: auto;
    overflow: hidden;
    display: block;
    padding: 0px;
    height: 11px;
    font-size: 0.75em;
    visibility: hidden;
    max-width: 100%;
    transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
    white-space: nowrap;
}

.css-14lo706>span {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    opacity: 0;
    visibility: visible;
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-1ktwud9 {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    min-height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: inherit;
    align-items: inherit;
}

@media (min-width: 1200px) {
    .css-1ktwud9 {
        max-width: 1200px;
    }
}

.css-j7qwjs {
    display: flex;
    flex-direction: column;
}