<IfModule mod_rewrite.c>
    RewriteEngine On

    Options -Indexes

    RewriteRule ^req$ routes.php [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^req/(.*)$ routes.php/$1 [NC,L] 
</IfModule>
